<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Account">
		<setting label="Username" type="text" id="username" default="" />
		<setting label="Password" type="text" id="password" option="hidden" enable="!eq(-1,)" default="" />
	</category>
	<category label="Playback settings">
		<setting label="Preferred bitrate" type="labelenum" id="preferred_bitrate" default="160kbps" values="96kbps|160kbps|320kbps" />
		<setting label="Volume normalization" type="bool" id="volume_normalization" default="false" />
		<setting label="Maximum cache size (MB)" type="number" id="max_cache_size" default="100" />
	</category>
	<category label="Advanced">
		<setting label="Internal server port" type="number" id="internal_server_port" default="8000" />
		<setting label="Override platform detection" type="bool" id="override_platform_detection" default="false"/>
		<setting label="Operating System" type="labelenum" id="os" default="Windows" values="Windows|Linux|OSX" visible="eq(-1,true)"/>
		<setting label="Architecture" type="labelenum" id="architecture" default="X86" values="x86|x86_64|armv6" visible="eq(-2,true)"/>	
	</category>
</settings>